@model MvcStokTakip.Models.Entity.Satislar
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Satış Yap</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Ekranı</h2>
            </div>
            <form method="post" action="/Satis/Yeni">
                <div class="modal-body">
                    <div>
                        @Html.Label("Ürün Adı")
                        @Html.DropDownListFor(m => m.Urunler.id, (List<SelectListItem>)ViewBag.urunler, new { @class = "form-control" })
                    </div>
                    <br />
                    <div>
                        @Html.Label("Ürün Markası")
                        @Html.DropDownListFor(m => m.Musteriler.id, (List<SelectListItem>)ViewBag.musteriler, new { @class = "form-control" })
                    </div>
                    <br />
                    <div>
                        @Html.Label("Adet")
                        @Html.TextBoxFor(m => m.adet, new { @class = "form-control" })
                    </div>
                    <br />
                    <div>
                        @Html.Label("Fiyat")
                        @Html.TextBoxFor(m => m.fiyat, new { @class = "form-control" })
                    </div>
                    <br />
                    <div>
                        <button class="btn btn-info">Satış İşlemini Yap</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
