@model MvcStokTakip.Models.Entity.Musteriler
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(m => m.ad, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ad, "", new { @class = "text-danger" })
    @Html.Label("Müşteri Soyadı")
    @Html.TextBoxFor(m => m.soyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.soyad, "", new { @class = "text-danger" })
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>

